html,
body {
  background-color: $white;
  font-family: "Roboto", sans-serif;
}
.Blur {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: blurEffect 0.6s linear;
}
section .Skewed .Skewed__layer {
  position: fixed;
  width: 100%;
  min-height: 50vw;
}
.Skewed__bottom {
  background: $ownBlack;
  z-index: 1;
  height: 100vh;
}
.Skewed__top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  transform: skew(-30deg);
  margin-left: -850px;
  width: calc(50vw + 1000px);
}
section {
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
  }
}

@keyframes blurEffect {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  60% {
    opacity: 0.3;
    filter: blur(1.5px);
  }
  80% {
    opacity: 0.7;
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
