html,
body {
  background-color: #222831;
}
section {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
}

.content-wrapper {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 555px 25px 15px 25px/25px 5px 35px 555px;
}
