html,
body {
  background-color: $white;
}
.Blur {
  transition: filter 0.5s ease-in-out;
}
section .Skewed .Skewed__layer {
  position: fixed;
  width: 100%;
  min-height: 50vw;
}
.Skewed__bottom {
  background: $ownBlack;
  z-index: 1;
  height: 100vh;
}
.Skewed__top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  transform: skew(-30deg);
  margin-left: -850px;
  width: calc(50vw + 1000px);
}
section {
  @include media-breakpoint-down(sm) {
  margin-top: 50px;
  }
}
