.Navigation {
  position: fixed;
  z-index: 100;
  background: $ownBlack;
  height: 100%;
  width: 50px;
  border-right: 3px solid $gold;
  @include media-breakpoint-down(sm) {
    height: 55px;
    width: 100%;
    border: none;
  }
  @include media-breakpoint-up(md) {
    // &:hover + .Blur {
    //   filter: blur(3px);
    //   transition: filter 0.3s ease;
    // };
  }

  &__ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 10px;
    @include media-breakpoint-down(sm) {
      flex-direction: row;
      justify-content: start;
      margin: 0;
      padding: 0;
    }
  }
  &__li {
    margin: 10px 0;
    padding: 10px;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
  &__a {
    color: #fff;
    font-size: 15px;
    transform: scale(.85);
    transition: transform 0.3s linear;
    font-weight: 700;
    border-color: #fff;
    &--active {
      border-color: #fff;
      // background: #b1ff1e;
      background: #fff;
      color: black;
      transform: scale(1);
      transition: transform 0.3s linear;
    }
  }
  &__a:hover {
    border-color: #fff;
    transform: scale(1);
    transition: transform 0.3s linear;
    background: #fff;
    color: black;
  }
}
