.btn__black {
  color: $ownBlack;
  font-size: 20px;
  transform: scale(.85);
  transition: transform 0.3s linear;
  font-weight: 700;
  padding: 0.475rem 0.95rem;
  border-color: #fff;
  background: transparent;
  border: 3px solid $ownBlack;
  &:hover {
    border-color: $ownBlack;
    transform: scale(1);
    transition: transform 0.3s linear;
    background: $ownBlack;
    color: $white;
  }
  &--noAnimation {
    transform: scale(1);
    &:hover {
      background-color: rgb(177, 255, 30)!important;
    }
    &:active {
      background-color: rgb(177, 255, 30)!important;
    }
  }
  &--lg {
    padding: 0.5rem 1rem;
    min-width: 100px;
    font-size: 25px;
  }
}
.btn__gold {
  background: $gold;
  color: $ownBlack;
  &--lg {
    min-width: 150px;
  }
  &:hover {
    background: $white;
    color: $ownBlack;
  }
}
