.btn__black {
  color: $ownBlack;
  font-size: 20px;
  transform: scale(.85);
  transition: transform 0.3s linear;
  font-weight: 700;
  padding: 0.475rem 0.95rem;
  border-color: #fff;
  background: transparent;
  border: 3px solid $ownBlack;
  &:hover {
    border-color: $ownBlack;
    transform: scale(1);
    transition: transform 0.3s linear;
    background: $ownBlack;
    color: $white;
  }
  &--noAnimation {
    transform: scale(1);
    &:hover {
      background-color: rgb(177, 255, 30)!important;
    }
    &:active {
      background-color: rgb(177, 255, 30)!important;
    }
  }
  &--lg {
    padding: 0.5rem 1rem;
    min-width: 100px;
    font-size: 25px;
  }
  &--contact-submit {
    @include media-breakpoint-down(sm) {
      color: $white;
      border: 2px solid $white;
      &:hover {
        background: $white;
        color: $ownBlack;
      }
      &:active {
        background: $white!important;
        color: $ownBlack!important;
      }
    }
  }
}
.btn__gold {
  background: $gold;
  color: $ownBlack;
  &--lg {
    min-width: 150px;
  }
  &:hover {
    background: $white;
    color: $ownBlack;
  }
}
.btn__outline {
  background-color: transparent;
  color: $white;
  border-top: none;
  &:hover {
    background-color: $white;
    color: $ownBlack;
  }
  &--lg {
    min-width: 150px;
  }
  &--active {
    background: $white;
    color: $ownBlack;
  }
}
