.CMS {
  color: #fff;
}

.About-CMS {
  &__title {
    margin-bottom: 25px;
  }
}
.ProjectCMS {
  &__add-new {
    margin: 25px auto;
  }
  &__text-inputs {
    max-width: 500px;
    margin: 25px auto;
  }
}
