.Particles {
  position: fixed;
  z-index: 0;
  canvas {
    width: 100%;
    position: fixed;
    max-width: 2000px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: -99;
    height: 100%;
  }
}
