.Contact {
  &__wrapper {
    background-color: transparent;
    margin-bottom: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    height: 90%;
    max-height: 600px;
    transform: translate(-50%, -50%);
    margin-left: 23px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
    &-row {
      position: relative;
      height: 100%;
      overflow: hidden;
      background: $white;
    }
  }
  &__col {
    &--form {
      @include media-breakpoint-down(md) {
        position: absolute;
        top: 120px;
      }
    }
  }
  &__content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: $white;
    padding: 20px;
    &-title {
      text-align: center;
      font-size: 2.5rem;
    }
    &-subtitle {
      text-align: center;
      font-size: 1.7rem;
    }
  }
  &__map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &__title {
    font-size: 3rem;
  }
  &__ContactForm {
    padding-top: 80px;
    max-width: 400px;
    margin: auto;
      input {
        height: 45px;
      }
      textarea {
        height: 100px;
      }
      form {
        @include media-breakpoint-down(md) {
          padding: 0 20px;
          color: $white;
        }
      }
  }
}
