.Contact {
  &__wrapper {
    margin-bottom: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    height: 90%;
    max-height: 600px;
    transform: translate(-50%, -50%);
    margin-left: 23px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
    &-row {
      position: relative;
      height: 100%;
    }
  }
  &__col {
    &--form {
      background: rgba(255, 255, 255, 0.9);
      transition: background 0.4s linear;
      @include media-breakpoint-up(lg) {
        &:hover {
          background: rgba(255, 255, 255, 1);
          transition: background 0.4s linear;
        }
      }
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  &__content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: $white;
    padding: 20px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    &-title {
      text-align: center;
      font-size: 1.55rem;
    }
    &-subtitle {
      text-align: center;
      font-size: 1.3rem;
    }
  }
  &__map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &__ContactForm {
    padding: 25px 0;
    max-width: 400px;
    margin: auto;
    @include media-breakpoint-down(md) {
      max-width: 90%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
    input {
      height: 45px;
    }
    textarea {
      height: 100px;
    }
    form {
      font-weight: bold;
      @include media-breakpoint-down(sm) {
        padding: 0 20px;
        color: $white;
      }
    }
  }
}
