@import "variables";
@import '~bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main.scss';
@import "Global/_Global";
@import "About/_About";
@import "Navigation/_Navigation";
@import "MainLayout/_MainLayout";
@import "Particles/_Particles";
@import "Buttons/_Buttons";
@import "Inputs/_Inputs";
@import "AdminPanel/_Admin_Panel";
@import "CMS/_CMS";
@import "Projects/_Projects";
@import "Contact/_Contact";
