@import "variables";
@import '~bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main.scss';
@import "Global/_Global";
@import "About/_About";
@import "Navigation/_Navigation";
@import "MainLayout/_MainLayout";
@import "Buttons/_Buttons";
@import "Inputs/_Inputs";
@import "AdminPanel/_Admin_Panel";
@import "CMS/_CMS";
@import "Projects/_Projects";
@import "Contact/_Contact";
@import "Language/_Language";
@import "Loader/_Loader";
@import "SocialIcons/_SocialIcons";
