.Projects {
  width: 100%;
  &__row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__wrapper {
    justify-content: space-around;
    margin: 35px auto;
  }
  &__box {
    background-color: $yellow;
    min-height: 250px;
    position: relative;
    transform: scale(0.9);
    &:hover .Projects__tech {
      display: flex;
    }
  }
  &__toggle {
    position: absolute;
    right: 10px;
    top: 5px;
    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      color: red;
    }
  }
  &__tech {
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
}
